page-homework {
.labelFont{
    font-size: 20px ! important;
    text-align: justify;
}
.MPView{
    margin: 0px !important;
    padding: 0px !important;
}
.col {
    padding: 0px;
}
.label-ios {
    margin: 5px 5px 5px 5px;
}
}
