
<ion-content padding class="appcolor">

<!-- <form [formGroup]="formgroup"> -->
  <ion-grid>
    <ion-list>
      <ion-item class="logo">
        <img src="assets/imgs/MSB-logo.png" class="imglogo">
      </ion-item>

    <div class="divpadding">
      <ion-item class="borderradius">
      <ion-label>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" ></ion-input>
      </ion-item>
    </div>

    <div class="divpadding">
      <ion-item class="borderradius">
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
  </ion-list>
  
    <div class="divpadding">
      <button ion-button class="center" color="light" (click)="login()">Login</button>
    </div>
  </ion-grid>
<!-- </form> -->
</ion-content>
