page-login{
.appcolor{
    background-color:  #416DB4;
}
.logo{
    height: 200px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    background-color:  #416DB4;
    border-top: none !important;
    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border-radius: 5px;
    box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.3);   
}
.borderradius{
    border-radius: 5px;
    margin: 0 auto;
    width: 90%;    
    box-shadow: 3px 4px 18px rgba(0, 0, 0, 0.3);
}
.list-md .item-block .item-inner,.list-ios .item-block .item-inner {
     border-bottom: none;
     border-top: none;
}
.divpadding{
    padding: 10px;
    
}
}