<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row col-12 class="borderbottom">  
      <ion-col col-6 class="borderright">          
          <img  class="imgp" src="assets/icon/user.png">          
          <ion-label class="namelabel">Student Name</ion-label>            
      </ion-col>     
      <ion-col col-6>         
        <ion-row>
          <ion-label class="labelmargin">ADMISSION NO.</ion-label>    
        </ion-row>
        <ion-row>
          <ion-note class="notemargin">785</ion-note>
        </ion-row>         
        <ion-row>
          <ion-label class="labelmargin">CLASS-SECTION</ion-label>  
        </ion-row>
        <ion-row>    
          <ion-note class="notemargin">9-B</ion-note>
        </ion-row>
        <ion-row>
          <ion-label class="labelmargin">CLASS TEACHER</ion-label>    
        </ion-row>
        <ion-row>  
          <ion-note class="notemargin">Suruchi Nalinde mam</ion-note>
        </ion-row>       
      </ion-col>
    </ion-row>
   
    <ion-list class="listmargin">
      <ion-row>     
        <ion-col col-2> 
          <img class="imgsize" src="assets/icon/student (1).png">    
        </ion-col>  
        <ion-col col-10> 
          <ion-label for="fname">Mr.John</ion-label>           
         </ion-col>  
      </ion-row>
      <ion-row>      
        <ion-col col-2> 
          <img class="imgsize" src="assets/icon/girl (2).png">
        </ion-col>  
        <ion-col col-10> 
          <ion-label for="mname">Mrs. Kiyara</ion-label>           
        </ion-col>     
      </ion-row>
      <ion-row>     
        <ion-col col-2>        
          <img class="imgsize" src="assets/icon/phone (1).png">         
        </ion-col>    
        <ion-col col-10>        
          <ion-label for="mobno">7744032651</ion-label>           
        </ion-col>      
      </ion-row>
      <ion-row>      
        <ion-col col-2>      
          <img class="imgsize" src="assets/icon/envelope.png">         
        </ion-col>   
        <ion-col col-10>      
          <ion-label for="gmail">sample00@gmail.com</ion-label>           
        </ion-col>     
      </ion-row>
      <ion-row>     
        <ion-col col-2>       
          <img class="imgsize" src="assets/icon/house.png">       
        </ion-col>  
        <ion-col col-10>       
          <ion-label for="address" text-wrap>Department 98, 44-46 Morning Side Road Edinburgh Scotland</ion-label>           
        </ion-col>     
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>