page-select-student{

.appcolor{
        background-color:  #416DB4;
}
.fontstyle{
        margin: 80px 25px 0px 30px;
        font-size: 40px;
        text-align: center;
        padding: 5px;
        font-weight: 500;
        color: white;
}
.btndesign{   
    background:#F7941C;   
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;    
    width: 40%;
    margin-bottom: 20px;
}
.griddesign{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;  
    align-items: center;
    width: 100%;
    height: 100%;    
}
.snamefont{
    text-align: center;
    font-size: 18px;
    color: white;
    text-justify: auto;
    margin-top: 10px;
}
.imglayout{
    width: 90% !important;  
    margin-left: auto;
    margin-right: auto;  
    align-items: center;    
}
.imglayoutborder{    
    border: 6px double #F7941C;   
}
.item-md.item-block .item-inner {
    padding-right: 0px !important; 
    border-bottom: none !important; 
}
.itemset {
    padding-right: 12px !important; 
    border-radius: 50%;
    max-height: 140px;
    max-width: 140px;
    background: white;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;  
    
}
.item-md {
    padding-left: 0px;
    padding-right: 0;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    flex-wrap: inherit;
    width: 100%;
  
}
}