

<ion-content class="appcolor">
  <div>
    <ion-label class="fontstyle">Select Student</ion-label>
  </div>
  <div>
  <ion-grid class="griddesign">
    <ion-row>
      <ion-col class="itemset {{imglayoutchange1}}" (click)="boyselect()">
        <img class="imglayout" src="assets/icon/boy.png"/>
      </ion-col>
     
      <ion-col class="itemset {{imglayoutchange2}}" (click)="girlselect()">
        <img class="imglayout" src="assets/icon/girl.png"/>
      </ion-col>
    </ion-row>
    <ion-row>  
      <ion-col>
        <ion-label class="snamefont" text-wrap>Ali Mujjafar Shekh Hakim Kiranawala</ion-label>
      </ion-col>
      <ion-col>
        <ion-label class="snamefont" text-wrap>Ali Mujjafar Shekh Hakim Kiranawala</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div>
    <button ion-button class="btndesign" block (click)="select()">Select</button>
</div>
</ion-content>