<ion-header>

  <ion-navbar>
    <ion-title>Exam Result</ion-title>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <div class="style3">
    <ion-row class="rowcolor">
      <ion-col col-6>
        <ion-item class="style2">

          <ion-label class="style1">Exam</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item class="stylem">
          <ion-select interface="popover">
            <ion-option value="first">First Exam</ion-option>
            <ion-option value="second">Second Exam</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div class="tablediv">
    <table>
      <tr>
        <th>Suject</th>
        <th>Marks</th>
        <th>Gread</th>
        <th>Comment</th>
      </tr>
      <tr>
        <td>Math</td>
        <td>85</td>
        <td>A</td>
        <td>Very Good</td>
      </tr>

      <tr>
        <td>Math</td>
        <td>85</td>
        <td>A</td>
        <td>Very Good</td>
      </tr>

      <tr>
        <td>Math</td>
        <td>85</td>
        <td>A</td>
        <td>Very Good</td>
      </tr>

      <tr>
        <td>Math</td>
        <td>85</td>
        <td>A</td>
        <td>Very Good</td>
      </tr>

      <tr>
        <td>Math</td>
        <td>85</td>
        <td>A</td>
        <td>Very Good</td>
      </tr>

      <tr>
        <td>Math</td>
        <td>85</td>
        <td>A</td>
        <td>Very Good</td>
      </tr>

      <tr>
        <td>Math</td>
        <td>85</td>
        <td>A</td>
        <td>Very Good</td>
      </tr>

      <tr>
        <td>Math</td>
        <td>85</td>
        <td>A</td>
        <td>Very Good</td>
      </tr>

    </table>
  </div>

  <ion-grid>
    <ion-row class="rowtop">
      <ion-col col-4>
        <div class="mm">
          <h2 class="colround">521/800</h2>
        </div>
      </ion-col>

      <ion-col col-4>
        <div class="mm">
          <h2 class="colround">GPA 0.0</h2>
        </div>
      </ion-col>

      <ion-col col-4>
        <div class="mm">
          <h2 class="pass">Pass</h2>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>
  <div class="noteresult">
    <ion-note> GPA: Great point Average</ion-note>
  </div>

</ion-content>