page-result{
.style1{
    background-color: #ff9100;
    width:50%;
}
.rowcolor{
background: #ff9100;
}
.style2{
    border:1px solid #ff9100;
    background: #ff9100;
}

.stylem{
    // border:1px solid #ff9100;


}
   
.style3{
    // border:1px solid #ff9100;

}
.item-md.item-block .item-inner {
    padding-right: 8px;
    /* border-bottom: 1px solid #dedede; */
}

.gridview {
    margin: 10px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   
}

.tablediv{
    margin-top: 50px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h2 {
    margin-top: 1.8rem;
    font-size: 2rem;
    /* text-align: center; */
    padding: 9px;
    color: white;
}
.mm{
    border: 1px solid;
    // width: 66%;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 25%;
    height: 12%;
    border-radius: 52%;
    background: #344f7d;
}

.rowtop{
    margin-top:25px;
    // margin-right: -39px;
}
.colround{
    padding: 13px;
    font-size: 2rem;
    text-align: center;
}

.pass{
    padding: 13px;
    font-size: 2rem;
    text-align: center;
}
.noteresult{
margin-top: 30%;
}

.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px;
}

// .select-md .select-icon {
//     position: relative;
//     width: 12px;
//     height: 19px;
//     margin-left: 33px;
//     /* float: right; */
//     align-self: center;
// }


element.style {
}
.select-md {
    padding: 13px -21px 16px 19px;
}
ion-select {
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    display: -ms-flexbox;
    display: flex;
    /* overflow: hidden; */
    max-width: 78%;
}
.select-text {
    /* overflow: hidden; */
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select-md {
    padding: 13px -29px 13px 16px;
}
}