page-home{

.img123{
    height: 100% !important;
    width: 100% !important;
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%; 
    display: block;  
    margin-left: auto;
    margin-right: auto;
}

.gridviewhome {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.label{
    text-align: center;
   
}
.label-ios {
     margin: 0px 0px 0px 0px; 
}
.item-ios.item-block .item-inner {
     padding-right: 0px !important; 
     border-bottom: none !important; 
}
.item-md.item-block .item-inner {
    padding-right: 0px !important; 
    border-bottom: none !important; 
}

.homediv{
    width: 50%;
    height: 50%;
    align-items: center;
    text-align: center;
}
.idarafont{
    text-align: left;
    font-size: 3rem;
    padding-left: 7px;
    margin-top: 7px;
    margin-bottom: -5px;
    color: white;
}
.colpadding{
    padding: 0px !important ;

}
.grid {
     padding: 0px; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.settinglogo{
    padding: 18px;
    width: 100%;
    height: 100%;
}


.settingicon{
        align-items: center;
        float: right;
        font-size: 29px;
        color: white;
}

.bkcolor{
    background: #264070;
}
.scroll-content {
padding-bottom: 0px !important;
margin-top: 0px!important;
}
.backicon{
// width: 100%;
// height: 50%;
font-size: 45px;
color: white;
margin-left: 0;
padding: 7px;

}
.toolbar-ios {
 padding: 0px !important ; 
/* padding-left: 4px; */
/* padding-right: 4px; */
/* min-height: 44px; */
}
.toolbar-md {
 padding: 0px; 
min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
padding-left:28% ;
 width:130% ;
  height:80%;
}
.center{
text-align:center !important;
align-self:center !important;
}
.button-inner {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-webkit-flex-flow: row nowrap;
-ms-flex-flow: row nowrap;
flex-flow: row nowrap;
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
width: 100%;
height: 0%;
}
.select-ios {
     padding: 0px; 
     height: 0px;
     display: block;
}
.select-md {
    padding: 0px; 
    height: 0px;
    display: block;
}

.label-ios {
    margin: 11px -8px 11px 0;
}
.label-md {
    margin: 11px -8px 11px 0;
}

ion-list {
    margin: -1px -12px;
}

 .item-ios {
    padding-left: 16px;
    margin: 1px 12px -4px -10px;
}
.item-md {
    padding-left: 16px;
    margin: 1px 12px -4px -10px;
}
.item-md .radio-md {
    position: static;
    display: inherit;
    margin: 9px 10px 9px 0;
    color: white;
}
}