<ion-header>

  <ion-navbar>
    <ion-title>Time Table</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>

    <div class="divrow">

   
    <ion-row>
      <ion-col col-6>
        <ion-card class="maincard">
          <ion-card-header class="cardhead">
           <ion-label>MONDAY</ion-label> 
          </ion-card-header>
          <h2 class="h2set">MON</h2>
        </ion-card>
      </ion-col>


      <ion-col col-6>
        <ion-card class="maincard">
          <ion-card-header class="cardhead">
            <ion-label> TUESDAY</ion-label> 
          </ion-card-header>
          <h2 class="h2set">TUE</h2>
        </ion-card>
      </ion-col>


    </ion-row>
  </div>


<div class="divrow">
    <ion-row>
      <ion-col col-6>
        <ion-card class="maincard">
          <ion-card-header class="cardhead">
            <ion-label>  WEDNESDAY</ion-label> 
          </ion-card-header>
          <h2 class="h2set">WED</h2>
        </ion-card>
      </ion-col>


      <ion-col col-6>
        <ion-card class="maincard">
          <ion-card-header class="cardhead">
            <ion-label> THURSDAY</ion-label> 
          </ion-card-header>
          <h2 class="h2set">THUR</h2>
        </ion-card>
      </ion-col>

      
    </ion-row>
  </div>

<div class="divrow">
    <ion-row>
      <ion-col col-6>
        <ion-card class="maincard">
          <ion-card-header class="cardhead">
            <ion-label>  FRIDAY</ion-label> 
          </ion-card-header>
          <h2 class="h2set">FRI</h2>
        </ion-card>
      </ion-col>


      <ion-col col-6>
        <ion-card class="maincard">
          <ion-card-header class="cardhead">
            <ion-label> SATURDAY</ion-label> 
          </ion-card-header>
          <h2 class="h2set">SAT</h2>
        </ion-card>
      </ion-col>

      
    </ion-row>
  </div>
    
  </ion-grid>

</ion-content>