page-change-password{
    .bkcolor{
        background: #264070;

  }
  .backicon{
    // width: 100%;
    // height: 50%;
    // font-size: 59px;
    color: white !important;
    margin-left: 0px;
   
}
.scroll-content {
    padding-bottom: 0px!important;
    margin-top: 0px!important;
}

.toolbar-ios {
     padding: 0px !important ; 
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    /* min-height: 44px; */
}
.toolbar-md {
     padding: 0px; 
    min-height: 56px;
}
// .col-1{
//     padding: 5%;
// }
.div-1{
    padding-left:28% ;
     width:130% ;
      height:80%;

}
.center{
  text-align:center !important;
  align-self:center !important;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
   height: 0%;
}
.img1 {
    height: 150px;
    width: 150px;
    // border-radius: 0%;
    margin: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}
.inputlabelmm{
    border: 2px solid #bdbdbd;
    height: 38px;
    padding: 0px;
    margin-left: 0px;
    margin-top: 2px;

}

.topmg{
    margin-top: 15px;
}
.idarafont{
    margin: 6px 8px 13px 0;
    color: white;
    font-size: 2.8rem;
}

.buttoncss{
    float: right;
    background-color: #F7941D;
}
}