<ion-header>

    <ion-navbar class="bkcolor">
        <ion-grid class="bkcolor">
          <ion-row>
           <ion-col col-12 class="mm">
                  <div class="center">
                        <ion-label class="idarafont">Change Password</ion-label>
                  </div>
                </ion-col>
          </ion-row>
        </ion-grid>
      </ion-navbar>
  </ion-header>


<ion-content padding>
   
    <img class="img1" src="assets/icon/key.png">
  
  <ion-grid>
    <div>
    <ion-row>   
            <label for="current">Current Password :</label>   
          </ion-row>
          <ion-row>
            <ion-input type="text" name="current" required class="inputlabelmm"></ion-input>  
          </ion-row>
        </div>


        <div>
            <ion-row  class="topmg">   
                    <label for="current">New Password :</label>   
                  </ion-row>
                  <ion-row>
                    <ion-input type="text" name="current" required class="inputlabelmm"></ion-input>  
                  </ion-row>
                </div>
    
                <div class="topmg">
                    <ion-row>   
                            <label for="current">Confirm Password :</label>   
                          </ion-row>
                          <ion-row>
                            <ion-input type="text" name="current" required class="inputlabelmm"></ion-input>  
                          </ion-row>
                        </div>
      
  
    <div padding>
      <button ion-button class="buttoncss">Submit</button>
    </div>
  </ion-grid>
</ion-content>
