<!--
  Generated template for the NoticeBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notice Board</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div>
    <ion-grid>
      <ion-row>
        <ion-label class="labelStyle">Parents Meeting</ion-label>
      </ion-row>
      <ion-row>
        <ion-note class="fontStyle">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industriy's standard dummy text ever since the 1500s, 
          when an unknown  printer took a gallery of type and scrambled it to make a type 
          specimen book. It has serview not only few countries, but also the leap into 
          electronic type setting, remaining esseentially unchanged. It was popularised in
          the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
          and more recently with desktop publishing software like Aldus Page Maker
          including versions of Lorem Ipsum. 
        </ion-note>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
