<!--
  Generated template for the DayTimeTablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Monday</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row class="border">
      <ion-col col-6>
        <ion-label class="labelFont">Math</ion-label>
      </ion-col>
      <ion-col col-6 class="align">
        <ion-note>Teachers Name</ion-note><br>
        <ion-note>10:00 AM</ion-note>
      </ion-col>
    </ion-row>
    <ion-row class="border">
      <ion-col col-6>
        <ion-label class="labelFont">English</ion-label>
      </ion-col>
      <ion-col col-6 class="align">
        <ion-note>Teachers Name</ion-note><br>
        <ion-note>10:00 AM</ion-note>
      </ion-col>
    </ion-row>
    <ion-row class="border">
      <ion-col col-6>
        <ion-label class="labelFont">Hindi</ion-label>
      </ion-col>
      <ion-col col-6 class="align">
        <ion-note>Teachers Name</ion-note><br>
        <ion-note>10:00 AM</ion-note>
      </ion-col>
    </ion-row>
    <ion-row class="border">
      <ion-col col-6>
        <ion-label class="labelFont">Science</ion-label>
      </ion-col>
      <ion-col col-6 class="align">
        <ion-note>Teachers Name</ion-note><br>
        <ion-note>10:00 AM</ion-note>
      </ion-col>
      </ion-row>
        <ion-row class="border">
          <ion-col col-6>
            <ion-label class="labelFont">Grammer</ion-label>
          </ion-col>
          <ion-col col-6 class="align">
            <ion-note>Teachers Name</ion-note><br>
            <ion-note>10:00 AM</ion-note>
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col col-6>
            <ion-label class="labelFont">Sports</ion-label>
          </ion-col>
          <ion-col col-6 class="align">
            <ion-note>Teachers Name</ion-note><br>
            <ion-note>10:00 AM</ion-note>
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col col-6>
            <ion-label class="labelFont">Civics</ion-label>
          </ion-col>
          <ion-col col-6 class="align">
            <ion-note>Teachers Name</ion-note><br>
            <ion-note>10:00 AM</ion-note>
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col col-6>
            <ion-label class="labelFont">Geography</ion-label>
          </ion-col>
          <ion-col col-6 class="align">
            <ion-note>Teachers Name</ion-note><br>
            <ion-note>10:00 AM</ion-note>
          </ion-col>
        </ion-row>
        <ion-row class="border">
          <ion-col col-6>
            <ion-label class="labelFont">Physics</ion-label>
          </ion-col>
          <ion-col col-6 class="align">
            <ion-note>Teachers Name</ion-note><br>
            <ion-note>10:00 AM</ion-note>
          </ion-col>
        </ion-row>
  </ion-grid>

</ion-content>
