<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Annual Event List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid class="cardlayout">
      <ion-row>     
        <ion-col class="paddingMargin">
            <ion-label class="titlefont paddingMargin">Sports day</ion-label>
        </ion-col>   
      </ion-row>  

      <ion-row>     
          <ion-col class="paddingMargin">     
            <ion-note class="contentFont">
          Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
             </ion-note>
          </ion-col>
      </ion-row>

        
      <ion-row>     
        <ion-col col-6 class="paddingMargin">
          <p class="paddingMargin">Date :<ion-note class="contentFont"> 2nd Feb 2018</ion-note></p>                                 
        </ion-col>
           
        <ion-col col-6 class="paddingMargin">
          <p class="paddingMargin floatRight">Time :<ion-note class="contentFont"> 10:00 PM</ion-note></p>              
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class="cardlayout">
      <ion-row>     
        <ion-col class="paddingMargin">
            <ion-label class="titlefont paddingMargin">Drawing Contest</ion-label>
        </ion-col>   
      </ion-row>  

      <ion-row>     
          <ion-col class="paddingMargin">     
            <ion-note class="contentFont">
          Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
             </ion-note>
          </ion-col>
      </ion-row>

        
      <ion-row>     
        <ion-col col-6 class="paddingMargin">
          <p class="paddingMargin">Date :<ion-note class="contentFont"> 2nd Feb 2018</ion-note></p>                                 
        </ion-col>
           
        <ion-col col-6 class="paddingMargin">
          <p class="paddingMargin floatRight">Time :<ion-note class="contentFont"> 10:00 PM</ion-note></p>              
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid class="cardlayout">
      <ion-row>     
        <ion-col class="paddingMargin">
            <ion-label class="titlefont paddingMargin">Sports day</ion-label>
        </ion-col>   
      </ion-row>  

      <ion-row>     
          <ion-col class="paddingMargin">     
            <ion-note class="contentFont">
          Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
             </ion-note>
          </ion-col>
      </ion-row>

        
      <ion-row>     
        <ion-col col-6 class="paddingMargin">
          <p class="paddingMargin">Date :<ion-note class="contentFont"> 2nd Feb 2018</ion-note></p>                                 
        </ion-col>
           
        <ion-col col-6 class="paddingMargin">
          <p class="paddingMargin floatRight">Time :<ion-note class="contentFont"> 10:00 PM</ion-note></p>              
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid class="cardlayout">
      <ion-row>     
        <ion-col class="paddingMargin">
            <ion-label class="titlefont paddingMargin">Sports day</ion-label>
        </ion-col>   
      </ion-row>  

      <ion-row>     
          <ion-col class="paddingMargin">     
            <ion-note class="contentFont">
          Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
             </ion-note>
          </ion-col>
      </ion-row>

        
      <ion-row>     
        <ion-col col-6 class="paddingMargin">
          <p class="paddingMargin">Date :<ion-note class="contentFont"> 2nd Feb 2018</ion-note></p>                                 
        </ion-col>
           
        <ion-col col-6 class="paddingMargin">
          <p class="paddingMargin floatRight">Time :<ion-note class="contentFont"> 10:00 PM</ion-note></p>              
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
